
<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tent CSS</title>
    <meta name="description" content="A CSS survival kit.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="/assets/css/tent.css" rel="stylesheet">

    <link rel="icon" href="/assets/imgs/favicon.png">
	</head>
	<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->


   <header class="masthead masthead--docs bg-color-primary padding-y padding-xxs" role="banner">
    <div class="container">

        <div class="grid grid--center">
            <div class="grid__column grid__column--12 grid__column--3--md">

                <div class="brand-set">
                    <a href="index.html" class="brand-set__logo brand-set__logo--primary">
                        <img src="/assets/imgs/Osprey-logo-v3-trans.png"/>
                    </a>
                </div>


            </div> <!-- /.grid__column -->
            <div class="grid__column grid__column--12 grid__column--9--md type-right">
                <a href="//releases.sitetent.com" class="masthead__button button button--filled button--xs">
                    Download
                </a>
                <a href="/docs.html" class="masthead__button button  button--filled button--xs">
                    Get Started
                </a>
            </div>
        </div> <!-- /.grid -->
    </div> <!-- /.container -->
</header> <!-- /.masthead -->


<div class="mastcontent bg-color-lightest" role="main">
    <div class="container padding-y padding-lg">
        <div class="grid">
            <main class="main-content grid__column grid__column--12 grid__column--9--md flex-first flex-last--md">
            
                <h1>Osprey Knockout</h1>
                <p>Sometimes you need a fun competition - we wanted something different after our AGM. A similar idea had been seen at another club
                so I was asked to look into how this could be done. </p>

                <h2>The idea</h2>
                <p>
                People send in images; two images are displayed (titles only), and the audience is asked by by show of hands to pick on of them.
                The winning mage goes on to the next round, the other is eliminated. Similar to many competitive events.
                </p>
                <p>
                For example 16 images, become 8 images, become 4, become 2 - with a final 'winner'. 
                </p>
                
                <h2>Getting Started</h2>
                <p>The software is written in <b>Java</b> so should be able to run on a wide range of machines. 
                This does mean that before you can use Osprey Knockout, you need to have <b>Java</b> installed on your machine.
                

                <h2>Usage</h2>

                <h2>Detailed Questions</h2>
    

            </main> <!-- /.grid__column -->
            <nav class="sidebar grid__column grid__column--12 grid__column--3--md flex-last flex-first--md">
                <div class="title-set">
                    <a href="docs.html"><h5 class="title">Getting Started</h5></a>

                    <ul class="list list--unstyled list--nulled">
                        <li class="list__item"><a href="docs.html#start-install">Install</a></li>
                        <li class="list__item"><a href="docs.html#start-customize">Customize</a></li>

                    </ul>
                </div> <!-- /.title-set -->
                <hr>
                <div class="title-set">
                    <a href="settings.html"><h5 class="title">Settings</h5></a>
                </div> <!-- /.title-set -->
                <hr>
                <div class="title-set">
                    <a href="tools.html"><h5 class="title">Tools</h5></a>

                    <ul class="list list--unstyled list--nulled">
                        <li class="list__item"><a href="tools.html#breakpoints">Breakpoints</a></li>
                        <li class="list__item"><a href="tools.html#scales">Scales</a></li>
                        <li class="list__item"><a href="tools.html#box-sizing">Box Sizing</a></li>
                    </ul>
                </div> <!-- /.title-set -->
                <hr>
                <div class="title-set">
                    <a href="generics.html"><h5 class="title">Generics</h5></a>

                    <ul class="list list--unstyled list--nulled">
                        <li class="list__item"><a href="generics.html#reset">Reset / Normalizing</a></li>
                    </ul>
                </div> <!-- /.title-set -->
                <hr>
                <div class="title-set">
                    <a href="elements.html"><h5 class="title">Elements</h5></a>

                    <ul class="list list--unstyled list--nulled">
                        <li class="list__item"><a href="elements.html#defaults">Defaults</a></li>
                    </ul>
                </div> <!-- /.title-set -->
                <hr>
                <div class="title-set">
                    <a href="objects.html"><h5 class="title">Objects</h5></a>

                    <ul class="list list--unstyled list--nulled">
                        <li class="list__item"><a href="objects.html#zones">Zones</a></li>
                        <li class="list__item"><a href="objects.html#containers">Containers</a></li>
                        <li class="list__item"><a href="objects.html#flex-object">Flex Object</a></li>
                        <li class="list__item"><a href="objects.html#grid">Grid</a></li>
                        <li class="list__item"><a href="objects.html#lists">Lists</a></li>
                        <li class="list__item"><a href="objects.html#tables">Tables</a></li>
                    </ul>
                </div> <!-- /.title-set -->
                <hr>
                <div class="title-set">
                    <a href="components.html"><h5 class="title">Components</h5></a>

                    <ul class="list list--unstyled list--nulled">
                        <li class="list__item"><a href="components.html#headings">Headings</a></li>
                        <li class="list__item"><a href="components.html#forms">Forms</a></li>
                        <li class="list__item"><a href="components.html#buttons">Buttons</a></li>
                        <li class="list__item"><a href="components.html#cards">Cards</a></li>
                    </ul>
                </div> <!-- /.title-set -->
                <hr>
                <div class="title-set">
                    <a href="utilities.html"><h5 class="title">Utilities</h5></a>

                    <ul class="list list--unstyled list--nulled">
                        <li class="list__item"><a href="utilities.html#other-type">Typography Modifiers</a></li>
                        <li class="list__item"><a href="utilities.html#alignments">Typography Alignments</a></li>
                        <li class="list__item"><a href="utilities.html#padding">Padding</a></li>
                        <li class="list__item"><a href="utilities.html#margin">Margin</a></li>
                        <li class="list__item"><a href="utilities.html#display-types">Display Types</a></li>
                        <li class="list__item"><a href="utilities.html#colors">Text Colors</a></li>
                        <li class="list__item"><a href="utilities.html#bg">Background Colors</a></li>
                    </ul>
                </div> <!-- /.title-set -->
                <hr>
                <div class="title-set">
                    <a href="themes.html"><h5 class="title">Themes</h5></a>
                </div> <!-- /.title-set -->
            </nav>
        </div> <!-- /.grid -->
    </div> <!-- /.container -->
</div> <!-- /.mastcontent -->        



    <footer id="mastfoot" class="mastfoot bg-color-primary inverse padding-y padding-xxs" role="contentinfo">
        <div class="container">
            <div class="grid grid--center">
                <div class="grid__column grid__column--12 grid__column--5--sm grid__column--6--lg flex-last">
                    <ul class="list list--inline list--nulled">
                        <li class="list__item">
                            <a href="//css.sitetent.com/docs.html">
                                Documentation
                            </a>
                        </li> 
                        <li class="list__item">
                            <a href="//releases.sitetent.com"> 
                                Releases
                            </a>
                        </li> 
                        <li class="list__item list__item--github">
                            <a href="//github.com/sitetent/tentcss"> 
                                GitHub
                            </a>
                        </li>         
                        <li class="list__item">
                            <a href="https://twitter.com/tentcss">Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="grid__column grid__column--12 grid__column--7--sm grid__column--6--lg flex-first">
                    <p>Created by <a href="//aaronmazade.com">Aaron Mazade</a>. Built with Tent CSS.</p>
                </div>
            </div>
        </div>
    </footer>
 
        <!-- Scripts -->
 

        <!-- Google Analytics Tracking -->

	</body>
</html>